* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: crimson;
}

main {display: flex;
}

div form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2vw;

}

h2{
    font-size: 5vw;
}

.category {
    height: 3vw;
    background-color: brown;
}

.rs img{
    width: 2vw;
}

li a[href="#"] {
    background-color: rgb(112, 6, 6) !important;
    border: 1px solid red;
}
 li a {
    text-align: center;
 }

img[src="./assets/img/logoAmazingEvents.png"] {
    width: 50vw !important;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;

}

.tableContainer{
    display: flex;
    justify-content: center;
}

table {
    background-color: rgba(33, 179, 45, 0.151);
    margin: 1.5vw;
}

td,
th {
    padding: .5vw;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

.nav-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EF5350;
}

a[role="button"] {
    background-color: #EF5350;
}

a img {
    width: 5vw;
}

.rotate{
    transform: rotate(180deg);
}
