* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2vw;

}

.carrusel {
    height: 7vw;
}

h2{
    font-size: 5vw !important;
}

.category {
    height: 3vw;
    background-color: brown;
}

.rs img{
    width: 2vw;
}

th, td {
    border: 1px solid red;
}

.colorCarrusel {
    background-color: rgb(209, 68, 68);
}

